@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

.Apps {
  /* background-color: red; */
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr 1fr;
}
.myName {
  margin-top: 50px;
  margin-right: 43%;
  justify-self: flex-start;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  /* font-size: 1.68vw; */
}
@media screen and (max-width: 500px) {
  .myName {
    font-size: 3vw;
  }
}
@media screen and (max-width: 1200px) and (min-width: 501px) {
  .myName {
    /* Maximum font size */
    font-size: 1.68vw;
  }
}

/*  */

.flickeringDot {
  opacity: 1;
  animation: flicker 2s linear reverse infinite;
}
@keyframes flicker {
  0% {
    opacity: 0.4;
    color: #0062ff;
  }
  5% {
    opacity: 0.5;
    color: #0062ff;
  }
  10% {
    opacity: 0.6;
    color: #0062ff;
  }
  15% {
    color: #0062ff;
    opacity: 0.85;
  }
  25% {
    color: #0062ff;
    opacity: 0.5;
  }
  30% {
    opacity: 1;
    color: #0062ff;
  }
  35% {
    opacity: 0.1;
    color: #47cbff;
  }
  40% {
    opacity: 0.25;
    color: #47cbff;
  }
  45% {
    opacity: 0.5;
    color: #47cbff;
  }
  60% {
    opacity: 1;
    color: #47cbff;
  }
  70% {
    opacity: 0.85;
    color: #47cbff;
  }
  80% {
    opacity: 0.4;
    color: #47cbff;
  }
  90% {
    opacity: 0.5;
    color: #47cbff;
  }
  100% {
    opacity: 1;
    color: #47cbff;
  }
}

.arabicName {
  align-self: end;
  font-family: "Rakkas", cursive;
  color: rgb(192, 189, 189);
  font-size: 2.5vw;
}

.toolBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-column: 1/3;
  /* background-color: green; */
}
.toolBar {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-end;
  width: 33%;
  height: 100%;
  font-size: 105%;
}
.toolBarButtons {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  background-color: transparent;
  border: white;
  color: black;
  background: linear-gradient(#000, #000 50%, transparent 50%, transparent);
  background-size: 101% 200%;
  background-position: bottom;
  transition: background 0.4s;
}

.buttonPadding {
  padding: 30%;
  padding-top: 100%;
  padding-bottom: 100%;
}

.toolBarButtons:hover {
  background-position: top;
  color: white;
}
.landingBody {
  grid-row: 2/5;
  grid-column: 1/3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 3fr 1fr;
  /* background-color: lightpink; */
}

.gradientShadow {
  margin-top: 5%;
  margin-left: 2.5%;
  grid-row: 4/5;
  /* background-color: blueviolet; */
  width: 7em;
  height: 3em;
  background: linear-gradient(90deg, #0062ff 0%, #47cbff 65%, #61efff 100%);
}
.gradientShadow button:active {
  right: 0%;
  bottom: 0%;
}
.gradientShadow button {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
  color: white;
  right: 10%;
  bottom: 15%;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  font-size: 100%;
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2/4;
  padding-left: 1%;
  /* background-color: beige; */
}

.largeHeader {
  display: grid;
  /* height: 100%; */
  margin: 0%;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: start;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 300%;
  color: black;
  /* background-color: lightgreen; */
}
.headerLineTwo {
  grid-row: 2/3;
  /* background-color: yellow; */
  width: 100%;
}
.headerLineThree {
  grid-row: 3/4;
}
.coloredText {
  grid-row: 1/2;
  font-size: 1.3em;
  background: linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(197, 100%, 64%, 1) 65%,
    hsla(186, 100%, 69%, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imageContainer {
  grid-column: 4/5;
  width: 100%;
  height: 100%;
}
.imageFrame {
  width: 100%;
  /* background-color: yellow; */
}

/* Page 2 */

.aboutMe {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100vh;
  justify-items: center;
  /* background-color: #6461ff; */
}
.aboutMeContainer {
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 1/2;
  height: 100vh;
  width: 100%;
  /* background-color: #7bff61; */
}
.aboutMeTitle {
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-size: 200%;
  grid-row: 1/2;
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
  /* background-color: #61efff; */
}
.aboutMeTitleUnderline {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  margin-top: -5%;
  animation: flicker 2s linear reverse infinite;
}
.aboutMeText {
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  grid-column: 3/5;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  font-size: 1vw;
  width: 100%;
  /* background-color: #ff9361; */
}
.aboutMeText p {
  width: 70%;
}
.BlackBox {
  grid-row: 2/3;
  grid-column: 1/6;
  /* width: 100vw; */
  /* background-color: red; */
}
.learnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 2vw;
  color: rgb(216, 214, 214);
}
.learnMoreArrow {
  background-color: transparent;
  color: rgb(216, 214, 214);
  font-size: 5vw;
  border: none;
  transform: rotate(45deg);
  margin-top: -1%;
  padding: 0;
}
.learnMoreArrow:hover {
  font-size: 6vw;
}
.learnMoreArrow:active {
  font-size: 6vw;
}

/* Page 3 */
.projectContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-items: center;
  background-color: bisque;
}
/* Page 4 */
.contactContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-items: center;
  background-color: aquamarine;
}
